.blog-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    .single-blog {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 10px;
        margin: 0 10px;
        max-width: 420px;
        .title {
            font-size: 20px;
            font-weight: 600;
        }
        .body {
            padding: 10px 0;
        }
    }
}

.btn-add-new-blog {
    cursor: pointer;
    margin: 10px;
}

.add-new-blog {
    margin: 10px 0;
    .add-new-title {
        margin-bottom: 10px;
        display: inline-block;
        font-weight: 600;
    }
    .input-data {
        padding: 5px 0;
    }
    .input-data label {
        min-width: 80px;
        display: inline-block;
    }
    .input-data input {
        outline: none;
    }
}